
body {
    background-color: rgba(188, 195, 196, 0.746);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; 
}

.form-group div {
    background-color: rgba(83, 90, 90, 0.746); 
}

.container {
    color:#333;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 100;
    padding: 100px;
    width: 1024px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    border-radius: 40%;
    color: azure;
  }